:root {
    --background-color: #ffffff;
    --background-secondary--color:#e0e0de;
    --text-color: #0b0b0b;
    --text-secondary-color: #eff0f1;
    --primary-color: #139dba; 
}


:root.dark{
    --background-color: #1e1e1e;
    --background-secondary--color:#000000;
    --text-color: #ffffff;
    --text-secondary-color: #eecf00;
    --primary-color: #495056; 
}

