<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flights</title>
        <link rel="stylesheet" href="../../static/css/BootStrapStyle.css" />
        <script src="https://kit.fontawesome.com/408f1a0133.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../static/css/styleAdmin.css" />
        <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    </head>

    <body class="light-theme">
        <div class="wrapper">
            <aside id="sidebar">
                <div class="d-flex">
                    <button class="toggle-btn" type="button">
                        <i class="lni lni-grid-alt"></i>
                    </button>
                    <div class="sidebar-logo">
                        <a href="./index.html" class="link-underline link-underline-opacity-0">Ticket</a>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="./Profile.html"
                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="./index.html"
                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-users"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="./Flights.html"
                            class="sidebar-link collapsed has-dropdown link-offset-2 link-underline link-underline-opacity-0"
                            data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                            <!-- <i class="lni lni-protection"></i> -->
                            <i class="lni lni-plane"></i>
                            <span>Flights</span>
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="./AddFlight.html"
                                    class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">Add
                                    Flight</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="./Flights.html"
                                    class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">View
                                    Flights</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="./Entertainments.html"
                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <!-- <i class="lni lni-users"></i> -->
                            <i class="lni lni-friendly"></i>
                            <span>Entertainment</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="./Feedback.html"
                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-popup"></i>
                            <span>FeedBack</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="./payment.html"
                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <!-- <i class="lni lni-cog"></i> -->
                            <i class="lni lni-postcard"></i>
                            <span>Payment</span>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-footer">
                    <a href="#" class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                        <i class="lni lni-exit"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </aside>
            <div class="main">
                <nav class="navbar navbar-expand px-3 border-bottom">
                    <!-- End Search -->
                    <div class="navbar-collapse">
                        <form action="#" class="d-none d-sm-inline-block">
                            <div class="input-group col-12">
                                <input type="search" class="form-control" placeholder="Search" aria-label="Search"
                                    aria-describedby="search-button">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit"
                                        id="search-button">Search</button>
                                </div>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                    <img src="../../static/images/admin/profile.jpg" class="avatar img-fluid rounded" alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- start Content -->
                <main class="content px-3 py-2">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <h4>Admin Dashboard</h4>
                        </div>

                        <div class="row mt-5">
                            <!-- handle with code -->
                            <!-- Start Edit Form -->
                            <div class="card col-12" style="display: none;">
                                <div class="card-body">
                                    <form class="row g-3 needs-validation" id="InfAdmin">
                                        <div class="col-md-6">
                                            <label for="validationCustom01" class="form-label">Flight Number</label>
                                            <input type="text" class="form-control" id="validationCustom01" required>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="validationCustom02" class="form-label">Origin</label>
                                            <input type="text" class="form-control" id="validationCustom02" required>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="validationState" class="form-label">Destination</label>
                                            <input type="text" class="form-control" id="validationState" required>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="dateInput" class="form-label">Date</label>
                                            <input type="date" class="form-control" id="dateInput" name="dateInput">
                                        </div>

                                        <div class="col-md-3" id="return-date-container" style="display: none;">
                                            <label for="return-date" class="form-label">Return Date</label>
                                            <input type="date" id="return-date" class="form-control" name="dateInput">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="time" class="form-label">Time</label>
                                            <div class="input-group date">
                                                <input type="time" id="time" class="form-control"
                                                    placeholder="Select time" aria-label="Time"
                                                    aria-describedby="basic-addon1">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="Price" class="form-label">Price</label>
                                            <input type="text" class="form-control" id="Price" required>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="validationNationalId" class="form-label">Available Seats</label>
                                            <input type="text" class="form-control" id="validationNationalId" required>
                                        </div>

                                        <!-- Example single danger button -->
                                        <div class="col-md-3">
                                            <label for="trip-type" class="form-label">Flight Type</label>
                                            <select class="form-control custom-select" id="trip-type">
                                                <option value="one-way">One Way</option>
                                                <option value="round-trip">Round Trip</option>
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="Flight Class" class="form-label">Flight Class</label>
                                            <select class="form-control custom-select" id="Flight Class">
                                                <option value="Business">Business</option>
                                                <option value="Economy">Economy</option>
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="airline" class="form-label">Airline</label>
                                            <select class="form-control custom-select" id="airline">
                                                <option value="Airline 1">Airline 1</option>
                                                <option value="Airline 2">Airline 2</option>
                                            </select>
                                        </div>

                                        <div class="col-mb-3">
                                            <input type="file" class="form-control" aria-label="file example" required>
                                        </div>

                                        <!-- start handle with code -->
                                        <div class="col-md-3 mt-5 d-grid gap-2">
                                            <button class="btn btn-primary" type="submit" value="Submit"
                                                form="InfAdmin">Publish Flight</button>
                                        </div>
                                        <!-- end handle with code -->
                                        <div class="col-md-3 mt-5 d-grid gap-2">
                                            <a href="./Flights.html" class="btn btn-secondary">Back</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Edit Form -->


                            <div class="card col-12">
                                <div class="card-body">
                                    <a href="./AddFlight.html" class="btn btn-primary mb-3">Add Flight</a>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="table-dark">
                                                <tr style="text-align: center;">
                                                    <!-- <th scope="col">#</th> -->
                                                    <th scope="col">Flight Number</th>
                                                    <th scope="col">Origin</th>
                                                    <th scope="col">Destination</th>
                                                    <th scope="col">Flight Type</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Return Date</th>
                                                    <th scope="col">Time</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Flight Class</th>
                                                    <th scope="col">Airline</th>
                                                    <th scope="col">Image</th>
                                                    <th scope="col">Available Seats</th>
                                                    <th scope="col">Handle</th>
                                                    <th scope="col">Handle</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="text-align: center;">
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <td>Passenger</td>
                                                    <td><button type="button" class="btn btn-outline-info">Edit</button>
                                                    </td>
                                                    <td><button type="button"
                                                            class="btn btn-outline-danger">Delete</button></td>
                                                </tr>
                                                <tr style="text-align: center;">
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <td>Owner</td>
                                                    <td><button type="button" class="btn btn-outline-info">Edit</button>
                                                    </td>
                                                    <td><button type="button"
                                                            class="btn btn-outline-danger">Delete</button></td>
                                                </tr>
                                                <tr style="text-align: center;">
                                                    <th scope="row">3</th>
                                                    <td>Larry the Bird</td>
                                                    <td>Larry the Bird</td>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <th scope="col">bedo@gmail.com</th>
                                                    <td>Owner</td>
                                                    <td><button type="button" class="btn btn-outline-info">Edit</button>
                                                    </td>
                                                    <td><button type="button"
                                                            class="btn btn-outline-danger">Delete</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
            </main>

            <!-- start Content -->
        </div>
        </div>
        <script src="../../static/js/script.js"></script>
        <script src="../../static/js/BootStarpScript.js"></script>
    </body>

</html>