<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BootStrap for Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
        <script src="https://kit.fontawesome.com/408f1a0133.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css" />
        <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrapper">
            <aside id="sidebar">
                <div class="d-flex">
                    <button class="toggle-btn" type="button">
                        <i class="lni lni-grid-alt"></i>
                    </button>
                    <div class="sidebar-logo">
                        <a href="#" class="link-underline link-underline-opacity-0">Ticket</a>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-agenda"></i>
                            <span>Task</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#"
                            class="sidebar-link collapsed has-dropdown link-offset-2 link-underline link-underline-opacity-0"
                            data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="lni lni-protection"></i>
                            <span>Auth</span>
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#"
                                    class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">Login</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#"
                                    class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">Register</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#"
                            class="sidebar-link collapsed has-dropdown link-offset-2 link-underline link-underline-opacity-0"
                            data-bs-toggle="collapse" data-bs-target="#multi" aria-expanded="false"
                            aria-controls="multi">
                            <i class="lni lni-layout"></i>
                            <span>Multi Level</span>
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#"
                                    class="sidebar-link collapsed link-offset-2 link-underline link-underline-opacity-0"
                                    data-bs-toggle="collapse" data-bs-target="#multi-two" aria-expanded="false"
                                    aria-controls="multi-two">
                                    Two Links
                                </a>
                                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="#"
                                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">Link
                                            1</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="#"
                                            class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">Link
                                            2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-popup"></i>
                            <span>Notification</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                            <i class="lni lni-cog"></i>
                            <span>Setting</span>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-footer">
                    <a href="#" class="sidebar-link link-offset-2 link-underline link-underline-opacity-0">
                        <i class="lni lni-exit"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </aside>
            <div class="main">
                <nav class="navbar navbar-expand px-3 border-bottom">
                    <!-- End Search -->
                    <div class="navbar-collapse">
                        <form action="#" class="d-none d-sm-inline-block">
                            <div class="input-group col-12">
                                <input type="search" class="form-control" placeholder="Search" aria-label="Search"
                                    aria-describedby="search-button">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit"
                                        id="search-button">Search</button>
                                </div>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                    <img src="image/profile.jpg" class="avatar img-fluid rounded" alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Setting</a></li>
                                    <li><a class="dropdown-item" href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- start Content -->
                <main class="content px-3 py-2">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <h4>Admin Dashboard</h4>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12 col-md-6 d-flex">
                                <div class="card flex-fill border-0 illustration">
                                    <div class="card-body p-0 d-flex flex-fill">
                                        <div class="row g-0 w-100">
                                            <div class="col-6">
                                                <div class="p-3 m-1">
                                                    <h4>Welcome back, Admin</h4>
                                                    <p class="mb-0">Admin Dashboard, CodzSword</p>
                                                </div>
                                            </div>
                                            <div class="col-6 align-self-end text-end">
                                                <img src="image/customer-support.jpg" class="img-fluid illustration-img"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> -->
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col" style="padding-left: 27px;">Handle</th>
                                    <th scope="col" style="padding-left: 27px;">Handle</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <th scope="col">bedo@gmail.com</th>
                                    <td>Passenger</td>
                                    <td><button type="button" class="btn btn-outline-success"
                                            style="border-radius: 25px" style=" margin: 0 auto;">Success</button></td>
                                    <td><button type="button" class="btn btn-outline-danger"
                                            style="border-radius: 25px">Danger</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <th scope="col">bedo@gmail.com</th>
                                    <td>Owner</td>
                                    <td><button type="button" class="btn btn-outline-success"
                                            style="border-radius: 25px">Success</button></td>
                                    <td><button type="button" class="btn btn-outline-danger"
                                            style="border-radius: 25px">Danger</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry the Bird</td>
                                    <td>Larry the Bird</td>
                                    <th scope="col">bedo@gmail.com</th>
                                    <td>Owner</td>
                                    <td><button type="button" class="btn btn-outline-success"
                                            style="border-radius: 25px">Success</button></td>
                                    <td><button type="button" class="btn btn-outline-danger"
                                            style="border-radius: 25px">Danger</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </main>

                <!-- start Content -->
                <a href="#" class="theme-toggle">
                    <i class="fa-regular fa-moon"></i>
                    <i class="fa-regular fa-sun"></i>
                </a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/script.js"></script>
    </body>

</html>