  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Travelism</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              Egypt<br><br>
              <strong>Phone:</strong>07775000<br>
              <strong>Email:</strong> travelism@org.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="\src\main\resources\static\Passenger\home.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\src\main\resources\static\flat\index.html">Flats</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\src\main\resources\static\Entertainment\entertainment.html">Entertainment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\src\main\resources\static\profile_user.html">Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Travelism</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
