  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">travelism@org.com</a>
        <i class="bi bi-phone"></i> 07775000
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Travelism</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Flats</a></li>
          <li><a class="nav-link scrollto" href="#services">Entertainment</a></li>
          <li><a class="nav-link scrollto" href="#departments">Profile</a></li>
          <li><a class="nav-link scrollto" href="#contact">Tickets</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <a href="#appointment" class="appointment-btn"><span>Login</a>
      <!-- Type Welcome for user after logging in  -->

    </div>
  </header>
